# Node.js dependencies
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Editor directories and files
.vscode/
.idea/

# Dependency directories
bower_components/
jspm_packages/

# Distribution directory
dist/
out/

# OS-specific files
.DS_Store
Thumbs.db

# npm debugging log file
npm-debug.log*


.vscode/