<!DOCTYPE html>
<html lang="en">
<head>
  <title>Change Password</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../Stylesheet/change_password.css" />
</head>
<body>
  <div class="container">
    <div class="center">
        <h1>Change Password</h1>
        <% if (errorMessage) { %>
          <p class="error" ><%= errorMessage %></p>
        <% } %>
        <form action="/change-password" method="POST">
            <div class="txt_field">
                <input type="email" name="email_id" required>
                <span></span>
                <label>College Email ID</label>
            </div>
            <div class="txt_field">
                <input id="Password1" type="password" name="current_password" required>
                <img id="eye-close1" src="../Images/eye-close.svg" alt="Password_Hidden">
                <span></span>
                <label>Current Password</label>
            </div>
            <div class="txt_field">
                <input id="Password2" type="password" name="new_password" required>
                <img id="eye-close2" src="../Images/eye-close.svg" alt="Password_Hidden">
                <span></span>
                <label>New Password</label>
            </div>
            <div class="txt_field">
                <input id="Password3" type="password" name="confirm_password" required>
                <img id="eye-close3" src="../Images/eye-close.svg" alt="Password_Hidden">
                <span></span>
                <label>Confirm New Password</label>
            </div>
            <input name="submit" type="Submit" value="Change Password">
        </form>
    </div>
  </div>
  <script type="module" src="../Javascript/change_password.js"></script>
</body>
</html>
