body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 400px;
  height: auto;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing */
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.result-box {
  position: absolute;
  width: 31.5%;
  background-color: #fff;
  border: 1px solid rebeccapurple;
  border-top: none;
  border-radius: 0 0 10px 10px;
  z-index: 1;
  max-height: 200px; 
  overflow-y: auto; 
}

.result-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.result-box ul li {
  padding: 10px;
  cursor: pointer;
}

.result-box ul li:hover {
  background-color: #e3f0fa;
}

.filterName {
  color: #999;
  pointer-events: none;
  cursor: default;
}
.filterName {
  color: grey;
  user-select: none; /* Disable selection */
  border-bottom: 1px solid #ccc; /* Add bottom border */
}

.filterName:hover {
  cursor: default; /* Change cursor to default */
}
