.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.space-between{
    justify-content: space-between;
}
.right{
    justify-content: right;
}
.grid{
    display: grid;
}
.inline{
    display: inline;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.fixed{
    position: fixed;
}
.pointer{
    cursor: pointer;
}